* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin-top: 16px;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    justify-content: center;
}

nav .menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 34px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

nav .menu .btn {
    background-color: #30B868;
    margin-top: 24px;
    padding: 12.5px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;   
}



#banner {
    width: 100%;
    max-width: 1600px;
    background: url('./assets/hero-bg.png');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#banner .banner-content {
    max-width: 1360px;
    padding: 115.5px 120px 179.5px 120px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    
}


#banner .banner-content .badge {
    display: inline-block;
    background-color: #FFFFFF;
    color: #30B868;
    padding: 6px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    gap: 6px;
}

#banner .banner-content h1 {
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}

#banner .banner-content .text-green {
    color: #30B868;
}

#banner .banner-content p{
    color: #FFFFFF;
    padding: 16px 0 32px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

#banner .banner-content .btn-1 {
    background-color: #30B868;
    padding: 16.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

#banner .banner-content .btn-2 {
    border: 1px solid white;
    background-color: #ffffff23;
    padding: 16.5px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding-left: 16px;
}

#notes{
    background-color: #f9555505;
}


#notes .notes-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#notes .notes-container .notes-box{
    display: flex;
    gap: 24px;
}

#notes .section-heading {
    text-align: center;
    margin: 0 auto;
}

#notes .section-heading h2 {
    font-size: 48px;
    color: #001931; 
    font-weight: Bold;
    margin-bottom: 16px;
    padding-top: 20px;
}

#notes .section-header p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #627382; 
}

.notes-box .notes-cards{
    padding: 30px;
    /* border: 1px solid blue; */
    box-shadow: 0 0 8px 0 #00000011;
    max-width: 322px;
    text-align: center;
}

.notes-box .notes-cards img{
    max-width: 60px;
    margin-bottom: 16px;
    background-color: #F95555;
    border-radius: 50%;
    padding: 15px;
}

.notes-box .notes-cards h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.notes-box .notes-cards p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}



#solution {
    padding-top: 120px;

}

#solution .solution-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    
}

.knowledge-box {
    max-width: 600px;
}

.solution-content {
    padding: 102px 0 102px 60px;
}

.solution-content .green{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    padding-bottom: 16px;
}

#solution .solution-container .solution-content h2{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;
}

#solution .solution-container .solution-content p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    padding-bottom: 40px;
}

.solution-list {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
 


#early {
    padding-top: 120px;
    padding-bottom: 120px ;
}

#early .early-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding-top: 80px;
}

.section-heading h2{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 16px;
}

.section-heading p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #627382;
    padding-bottom: 40px;
}

.section-heading p #msg{
    line-height: 20px;
    padding-bottom: 80px;
}

.section-heading .btn-3 {
    background-color: #30B868;
    margin-bottom: 16px;
    padding: 12px 16px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;   
}

footer {
    max-width: 1600px;
    background-color: #001931;
    margin: 0 auto;
    color: white;
}
#footer-container{
    max-width: 1360px;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 80px;
}

.footer-logo {
    padding-left: 120px;
}

.social {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding-right: 50px;
}

.icons {
    padding-top: 16px;
}
.footer-bottom {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hr {
    padding-left: 120px;
    max-width: 1360px;
}
